{% extends 'base.html.twig' %}

{% block title %}Edit Pilot{% endblock %}

{% block body %}
    <h1>Edit Pilot</h1>

    {{ include('pilot/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pilot_index') }}">back to list</a>

    {{ include('pilot/_delete_form.html.twig') }}
{% endblock %}
