###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
var/cache/dev/App_KernelDevDebugContainer.php
var/cache/dev/App_KernelDevDebugContainer.php.meta
var/cache/dev/App_KernelDevDebugContainer.xml.meta
var/cache/dev/pools/Puhp3bJOZI/0/P/vhiPe13NMX+0b0GDnQkQ
var/cache/dev/pools/Puhp3bJOZI/2/D/1n-I0HjudPvqmhkQahOg
var/cache/dev/pools/Puhp3bJOZI/3/K/+2PKOPO4ksXdB4dU2T-g
var/cache/dev/pools/Puhp3bJOZI/A/9/jowZlt9Yv978VqOMdScw
var/cache/dev/pools/Puhp3bJOZI/A/A/9bFc5SihPN4VXIOsb3NA
var/cache/dev/pools/Puhp3bJOZI/B/P/SZz-gBeeXEBf5xFyLhNQ
var/cache/dev/pools/Puhp3bJOZI/C/I/5t-UAGWNN8ZZ2wb8GVYA
var/cache/dev/pools/Puhp3bJOZI/D/X/asiamtdZvrlTJHupHSIw
var/cache/dev/pools/Puhp3bJOZI/F/U/wUNE0YDr9Os0h18mPJqQ
var/cache/dev/pools/Puhp3bJOZI/H/W/R3E26ZycFI6Uunf1QIAQ
var/cache/dev/pools/Puhp3bJOZI/I/4/9NW0rUJiPdT1KG2ROZZQ
var/cache/dev/pools/Puhp3bJOZI/J/E/zszOD0S7ZgeYxlVuzPYw
var/cache/dev/pools/Puhp3bJOZI/M/-/-VpXqk3MuM0fAzLEMbUg
var/cache/dev/pools/Puhp3bJOZI/P/B/4fBI2JvCmDAecCe5NC-w
var/cache/dev/pools/Puhp3bJOZI/T/E/S6kIwl0TPbU62SwH7KXQ
var/cache/dev/pools/Puhp3bJOZI/Y/E/Mg4yQeXmdRNFvsSF8Mvw
var/log/dev.log
