{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>


	<h1>Bienvenue dans l'interface administrateur de votre site</h1>
	<div class="admin__options">
		<div>

			<h3>Pour accéder aux Pilotes cliquez ci-dessous</h3>
			<a href="{{path("pilot_index")}}">
				<button>Contrôle des Pilotes</button>
			</a>
		</div>
		<div>

			<h3>Pour accéder aux Championnats cliquez ci-dessous</h3>
			<a href="{{path("championship_index")}}">
				<button>Contrôle des Championnats</button>
			</a>
		</div>
		<div>

			<h3>Pour accéder aux Ecuries cliquez ci-dessous</h3>
			<a href="{{path("stable_index")}}">
				<button>Contrôle des Ecuries</button>
			</a>
		</div>
	</div>
	<div class="flex">
		<a>
			<button>Retour à la vue utilisateur</button>
		</a>
	</dev>
{% endblock %}
