{% extends 'base.html.twig' %}

{% block title %}Pilot index
{% endblock %}

{% block body %}
	{% include "header.html.twig" %}
	<h1>Pilot index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>PilotFirstName</th>
				<th>PilotLastName</th>
				<th>PilotAge</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for pilot in pilots %}
				<tr>
					<td>{{ pilot.id }}</td>
					<td>{{ pilot.pilotFirstName }}</td>
					<td>{{ pilot.pilotLastName }}</td>
					<td>{{ pilot.pilotAge }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
